@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.layout>#post {
    background: rgba(255, 255, 255, .5);
} 

.layout>#page {
    background: rgba(255, 255, 255, .5);
}

.layout>#archive {
    background: rgba(255, 255, 255, .5);
}

#recent-posts>.recent-post-item {
    background: rgba(255, 255, 255, .5);
}

/* #aside_content .card-widget, #recent-posts>.recent-post-item, .layout>div:first-child:not(.recent-posts), .layout>#page, .layout>#post, .read-mode .layout_post>#post{ */
    /* 以下代表透明度为0.5 */
    /* background: rgba(255,255,255,.5); */
/* } */


#aside-content .card-widget {
    background: rgba(255, 255, 255, .5);
}

#footer>#footer-wrap{
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
}
